parameters:
  level: 6
  treatPhpDocTypesAsCertain: false
  paths:
    - test-plugin.php
    - includes
  stubFiles:
    - tools/.phpstan-wp-min-stubs.php
  excludePaths:
    analyse:
      - vendor/*
      - tests/*
      - tmp/*
      - .github/*
      - wp-content/*
