<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  colors="true"
  bootstrap="tests/phpunit/bootstrap.php"
  cacheResult="false"
  stopOnFailure="false"
>
  <testsuites>
    <testsuite name="wp">
      <!-- WordPress向けテストのみを実行 -->
      <directory suffix="Test.php">tests/phpunit</directory>
    </testsuite>
  </testsuites>

  <php>
    <env name="WP_PHPUNIT__DIR" value="vendor/wp-phpunit/wp-phpunit"/>
    <env name="WP_PHPUNIT__TESTS_CONFIG" value="wp-tests-config.php"/>
    <env name="WP_PHP_BINARY" value="php"/>
  </php>
</phpunit>
